.banner-header h1 {
    font-size: 72px;
    color: #272b41;
  /* background: -webkit-linear-gradient(#4ce1c6, #567fea); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}