.search-input {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.search-input .ant-input-group-addon {
    height: 100% !important;
    border-top-right-radius: 55px !important;
    border-bottom-right-radius: 55px !important;
}
.ant-input-group-addon button {
    border-radius: 40px !important;
    margin-right: 10px;
    border: none;
    background-color: #00d0f1 !important;
}
