.content {
    height: 100vh;
}
.profile__img {
    width: 100%;
    height: 300px;
}
.profile__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile {
    position: relative;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    margin-bottom: 30px;
    border-radius: 5px;
}
.profile__logo {
    position: absolute;
    left:10px;
    bottom:0;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 5px solid rgba(0, 150, 212, .08) ;
}
.profile__logo img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 150px;
}

.info {
    height: 70px;
    margin-top:30px
}
.intro {
    margin-top: 30px !important;
}
.ant-row .title {
    color: #1890ff;
    text-align: left;
    padding-bottom: 0;
    padding-right: 8px;
}

.main_profile {
    padding-top: 50px !important;
}
.hospital-profile .ant-card-bordered {
    border-radius: 10px !important;
    margin-bottom: 20px;
}
.hospital-profile .info-title .ant-card-head {
    background-image: url('../../../../assets/img/bc_title.jpg');
}
.hospital-profile .intro .ant-card-head {
    background-image: url('../../../../assets/img/bc_title.jpg');
}
.hospital-profile .ck .ant-card-head {
    background-image: url('../../../../assets/img/bc_title.jpg');
}
.ck-item {
    display: flex;
}
.card_ck {
    background-image: linear-gradient(to right, rgba(157, 236, 206, 0.5), rgba(200, 238, 178, 0.5),rgb(255, 255, 255)) !important
}
